# Node / Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.vscode/

# Laravel / PHP
backend/vendor/
backend/node_modules/
backend/.env
backend/storage/*.key
backend/storage/app/
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/logs/*
backend/bootstrap/cache/*

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# Logs
*.log
